
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Stripe's JS library -->
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <!-- Controllerのレンジ -->
  <!-- v-on=@, v-bind=: -->
  <div id="app" class="container">
    <h1>
      <button v-on:click="purge">一括削除</button>
      ToDo
      <span class="info">({{remaining}}/{{todos.length}})</span>
    </h1>
    <ul v-if="todos.length">
      <li v-for="(todo, i) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <!-- tag内でJS変数を利用 -->
        <span v-bind:class="{done: todo.isDone}">{{todo.title}}</span>
        <span v-on:click="deleteItem(i)" class="command">[x]</span>
      </li>
    </ul>
    <ul v-else>
      <li>Taskがないよ！</li>
    </ul>
    <form v-on:submit.prevent="addItem">
      <input type="text" v-model="newItem">
      <input type="submit" value="追加">
    </form>
  </div>


  <script src="js/main.js"></script>
</body>
</html>

