
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

#main-title {
    border-bottom: solid 3px orange;
}

.done-true {
    color: gray;
    text-decoration: line-through;
}


