body {
  text-align: center;
}

section {
  margin: 50px 0;
}

ol {
  display: inline-block;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

#counter {
  font-size: 64px;
  color: #00aaff;
}

